<!Doctype html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Projeto Canil - Adote um PET</title>
    </head>
    <body>
        <h1>Essa é a Home, dentro do pageController</h1>
    </body>
</html>